.navBar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  background-color: #2A3638
}
.navBar__link{
  color: #fff;
  text-decoration: none;
  font-weight: bold;

}
.container{
  width: 90%;
  border: thin solid #2A3638;
  border-radius: 7px;
  margin: 30px auto;
  text-align: center;
}

.banner{
  height: 50vh;
  width: 100%;
  background-color: #E84A5F ;
  border-radius: 7px 7px 0px 0px

}
.pricing__card{
  height: 350px;
  width: 250px;
  /* border: thin solid #2A3638; */
  border-radius: 7px;
  margin: 25px 0px;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  background-color: #99B898;
  vertical-align: bottom;
}

.card_container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

}